apiVersion: v1
clusters:
- cluster:
    certificate-authority: temp_ca_file
    server: htttp://0.0.1.1
  name: development
- cluster:
    certificate-authority: temp_ca_file
    server: htttp://5.6.7.8
  name: staging
contexts:
- context:
    cluster: development
    namespace: frontend
    user: developer
  name: dev-frontend
- context:
    cluster: staging
    namespace: frontend
    user: developer
  name: dev-staging
current-context: ""
kind: Config
preferences: {}
users: null
